:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
.unit-toggle {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  gap:15px;
}

.unit-toggle button {
  background: rgba(196, 196, 196, 0.726);
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.unit-toggle button.active {
  background: rgba(255, 255, 255, 1); 
  font-weight: bold;

}
.unit-toggle > button:hover{
  cursor: pointer;
  background-color: lightgray;
}

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

.section__inputs,
.section__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}

.section__inputs> input {
  border: 0.8px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
}

.section__inputs > input:focus {
  outline: none;
}

.section__inputs > button {
  padding: 10px 50px;
  border: none;
  border-radius: 0.4rem;
  font-size: 20px;
  font-weight: 200;
  background-color: white;
}

.section__inputs > button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.weather-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon > h3 {
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
}

.temperature > h1 {
  font-size: 50px;
}
.forecast {
  text-align: center;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 15px;
  background-color: var(--section-overlay);
}

.forecast-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.forecast-card {
  background: rgba(196, 196, 196, 0.726);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-width: 127px;
}

.forecast-card img {
  width: 50px;
  height: 50px;
}

h2{
  text-align: center;
  margin: 10px; 
  color: white;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .unit-toggle {
    justify-content: center;
  }
}